<div class="sidebar">
    <div class="logo-details">
        <!-- <a class="logo-link" href="user/dashboard"> -->
        <img src="assets/img/logo/Logo.png" alt="">
        <!-- </a> -->
        <!-- <i class='bx bxl-c-plus-plus'></i> -->
        <!-- <span class="logo_name">CORP</span> -->
    </div>
    <ul class="nav-links">
        <li>
            <a href="admin/users">
                <i class='bx bx-cog'></i>
                <span class="links_name">Quản lý user</span>
            </a>
        </li>
        <li>
            <a href="admin/cost">
                <i class='bx bx-coin-stack'></i>
                <span class="links_name">Quản lý phí giao hàng</span>
            </a>
        </li>
        <li>
            <a href="admin/tracking">
                <i class='bx bx-current-location'></i>
                <span class="links_name">Tra cứu</span>
            </a>
        </li>


        <li class="log_out">
            <a href="user/logout">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>