<div class="footer-area footer-bg">
    <div class="container">
        <div class="footer-top footer-padding">
            <!-- footer Heading -->
            <div class="footer-heading">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-4">
                        <div class="footer-logo">
                            <a href="/"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-8 pt-3">
                        <span class="f-right text-light">CÔNG TY TNHH ĐẦU TƯ THƯƠNG MẠI DỊCH VỤ KTS VIỆT NAM</span>
                        <span class="f-right text-light">Giấy CNĐKKD: 0202133757 - Ngày cấp: 23/11/2021</span>
                        <span class="f-right text-light">Cơ quan cấp: Phòng Đăng ký kinh doanh- sở kế hoạch và đầu
                            tư TP Hải Phòng</span>
                        <span class="f-right text-light">Chính sách bảo mật- &copy 2021 KTS Vietnam, All Rights
                            Reserved</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>