<div class="sidebar">
    <div class="logo-details">
        <!-- <a class="logo-link" href="user/dashboard"> -->
        <img src="assets/img/logo/Logo.png" alt="">
        <!-- </a> -->
        <!-- <i class='bx bxl-c-plus-plus'></i> -->
        <!-- <span class="logo_name">CORP</span> -->
    </div>
    <ul class="nav-links">
        <!-- <li>
            <a href="#" class="active">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li> -->
        <li>
            <a href="/user/createbill">
                <i class='bx bx-add-to-queue'></i>
                <span class="links_name">Tạo đơn</span>
            </a>
        </li>
        <li>
            <a href="/user/bills">
                <i class='bx bx-list-ul'></i>
                <span class="links_name">Danh sách đơn hàng</span>
            </a>
        </li>
        <li>
            <a href="/user">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Thống kê</span>
            </a>
        </li>
        <li>
            <a href="/user/stores">
                <i class='bx bx-coin-stack'></i>
                <span class="links_name">Quản lý kho</span>
            </a>
        </li>
        <li>
            <a href="/user/tracking">
                <i class='bx bx-current-location'></i>
                <span class="links_name">Tra cứu</span>
            </a>
        </li>
        <!-- <li>
            <a href="#">
                <i class='bx bx-user'></i>
                <span class="links_name">Team</span>
            </a>
        </li> -->
        <!-- <li>
            <a href="#">
                <i class='bx bx-message'></i>
                <span class="links_name">Tin nhắn</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-heart'></i>
                <span class="links_name">Tạo user</span>
            </a>
        </li>-->
        <li>
            <a href="user/createUser">
                <i class='bx bx-cog'></i>
                <span class="links_name">Cài đặt tài khoản</span>
            </a>
        </li>
        <li class="log_out">
            <a href="user/logout">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>